.room-details {
    max-width: 28rem;
}
.room-details__title {
    @extend .title-h2;
}
.room-details__item {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    &:nth-of-type(1n+2) {
        border-top: .1rem solid $dark-shade-1;
    }
}
.room-details__block {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.room-details__type,
.room-details__text {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 2.4rem;
}
.room-details__type {
    @extend .text-active;
}
.room-details__text {
    @extend .text;
    color: $dark-shade-75;
}

%image-props {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.9rem;
    height: 3.9rem;
}
.room-details__image-smile {
    @extend %image-props;
    background-image: url('../images/details-smile-face-icon.svg');
}
.room-details__image-factory {
    @extend %image-props;
    background-image: url('../images/details-factory-icon.svg');
}
.room-details__image-fire {
    @extend %image-props;
    background-image: url('../images/details-fire-icon.svg');
}