.button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    transition: .35s;
}
.button_hover_opacity {
    opacity: 0.5;
}
.button_hover_color {
    color: $dark-shade-50 !important;
}
.button-login,
.button-registration {
    @extend .button;
    @extend .title-h3;
    border-radius: 2.2rem;
    text-align: center;
    &:hover {
        @extend .button_hover_opacity;
    }
}
.button-registration {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
    padding: 1.5rem 1.9rem;
}
.button-login {
    border-top: .25rem solid #BC9CFF;
    border-right: .25rem solid  #8BA4F9;
    border-bottom: .25rem solid #8BA4F9;
    border-left: .25rem solid  #8BA4F9;
    color: $purple;
    padding: 1.25rem 1.65rem;
}
.button-select {
    @extend .button;
    @extend .title-h3;
    color: $purple;
    padding: 0;
    &:hover {
        color: $dark-shade-50;
    }
}
.button-form {
    @extend .button-registration;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    &::after {
        background-position: center;
        background-size: 42.5%;
        background-repeat: no-repeat;
        background-image: url('../images/arrow-right-button.svg');
        content: '';
        display: block;
        position: absolute;
        height: 4.4rem;
        width: 4.4rem;
        right: 0;
    }
    width: 100%;
}