@import './nav/nav.scss';
@import './account/account.scss';

.header {
    max-width: 100%;
}
.header__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem auto;
}
.header__col-logo {
    margin-right: auto;
}
.header__col-nav {}
.header__col-account {}

.col-nav {}
.col-account {}

.logo {
    
    .logo__img {
        
    }
}