header(class="header")
    div(class="header__inner container")
        a(class="header__col-logo logo", href="index.html")
            img(class="logo__img", src="./images/logo.svg", alt="Toxin", title="Toxin")
        include ./nav/nav.pug
        include ./account/account.pug