header(class="header")
    div(class="header__inner container")
        div(class="header__col-logo")
            div(class="block-logo")
                a(class="logo", href="index.html")
                    img(class="logo__img", src="./images/logo.svg", alt="Toxin", title="Toxin")
        div(class="header__col-nav")
            include ./nav/nav.pug
        div(class="header__col-account")
            include ./account/account.pug