.header {
    padding: 1.5rem;
}
.header__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: block;
    margin-right: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 2rem;
}
.header__nav-nested {
    display: flex;
    align-items: center;
    &::after {
        content: '';
        cursor: pointer;
        display: block;
        margin-left: .5rem;
        background: center / contain no-repeat url("../images/select-arrow.svg");
        width: 1.4rem;
        height: 1.4rem;
    }
}
.account {
    display: flex;
    align-items: center;
}
.account__button-in {
    margin-right: 2rem;
}