mixin navItem(title, array)
    li(class="nav__item")
        div(class="nav__nested-block nested-block")
            h3(class="nested-block__title") #{title}
            ul(class="nested-block__list")
                each item in array
                    li(class="nested-block__item")
                        a(class="nested-block__link" href="#") #{item}

div(class="footer__top-row container")
    div(class="footer__col-logo")
        a(class="logo" href="#" title="Logo")
            img(class="logo__img" src="../../images/logo.svg" alt="logo")
        p(class="reward-description")
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div(class="footer__col-navigation")
        nav(class="nav")
            ul(class="nav__list")
                +navItem('Навигация', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'])
                +navItem('О нас', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
                +navItem('Служба поддержки', ['Соглашения', 'Сообщества', 'Связь с нами'])
                li(class="nav__item")
                    div(class="nav__nested-block nested-block nested-subscribe")
                        h3(class="nested-block__title") 
                            | Подписка
                        p(class="nested-block__text")
                            | Получайте специальные предложения и новости сервиса
                        div(class="input-wrapper")
                            input(class="nested-block__email input input-geometry input_hover", type="email", placeholder="Email")