section(class="room-impression")
    h2(class="room-impression__title") 
        | Впечатления от номера
    div(class="room-impression__content")
        p(class="diagram")
            span(class="diagram__number") 260
            span(class="diagram__text") Голосов
        ul(class="room-impression__list")
            li(class="room-impression__item") Великолепно
            li(class="room-impression__item") Хорошо
            li(class="room-impression__item") Удовлетворительно
            li(class="room-impression__item") Разочарован
