$main-white-color: #fff;

.date-picker {
    position: relative;
    max-width: 32rem;
    height: 36.9rem;
    border: 1px solid $dark-shade-25;
    box-shadow: 0 .1rem .2rem;
    border-radius: .4rem;
    padding: 2rem;
    background-color: $main-white-color;
}
.date-picker_active-cell {
    width: 3.988rem;
    height: 4.0rem;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 2.2rem;
    color: $main-white-color !important;
}
.date-picker__header {
    color: $dark-shade-100;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    .date-picker__month-title {
        text-align: center;
    }
}
.date-picker__table {
    width: 100%;
    height: 24rem;
    margin: 0;
    .date-picker__body {
    
    }
}

// week names cells
.week-names {
    
}
.week-names__item {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
    color: $purple;
}

// cells
.main-cell-color,
.other-cell-color {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .75rem;
}

.main-cell-color {
    cursor: pointer;
    font-weight: bold;
    color: $dark-shade-50;
}
.other-cell-color {
    font-weight: bold;
    color: $dark-shade-25;
}

/* arrows */
.date-picker__arrow {
    cursor: pointer;
    position: absolute;
    top: 2.2rem;
} 
.arrow-left {
    left: 2rem;
}
.arrow-right {
    right: 2rem;
}