
// INPUT_CLASSES
.input {
    @extend .text;
    background-color: #fff;
    border-radius: .4rem;
    border: 1px solid $dark-shade-25;
    width: 100%;
    margin-top: .5rem;
    min-width: 15rem;
    height: 4.4rem;
    padding: 1.3rem 1.5rem;
    &::placeholder {
        color: $dark-shade-25;
    }
}
.input-select,
.input-calendar {
    cursor: pointer;
    &::placeholder {
        color: $dark-shade-75;
    }
}
.input-calendar {
    @extend .input;
    @include arrowField(92% 50%);
    max-width: 15rem;
}
.input-select {
    @extend .input;
    @include arrowField(101% 50%);
}

// EFFECT_CLASS 
.input_hover {
    &:hover,
    &:focus {
        outline: none;
        border: .1rem solid $dark-shade-50;
        &::placeholder {
            color: $dark-shade-75;
        }
    }
}

// LABEL_CLASS
.label {
    @extend .title-h3;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.label-opacity-0 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}