// * * * * * * * * * * * * *
// INPUT
// LABEL
.template-label {
    color: $dark-shade-100;
    text-transform: uppercase;
    font: bold $title-size-h3 / 1 $montserrat-family;
}
.template-input {
    outline: none;
    color: $dark-shade-25;
    border: .1rem solid $dark-shade-25;
    font: normal $text-body-size / 1 $montserrat-family;
    &::placeholder {
        color: $dark-shade-25;
    }
}
.template-hover {
    &:focus,
    &:hover {
        border: .1rem solid $dark-shade-50;
        color: $dark-shade-75;
        &::placeholder {
            color: $dark-shade-75;
        }
    }
}

// INPUT GEOMRTY
// LABEL GEOMRTY
.template-geometry {
    padding: 1.3rem 1.5rem;
    border-radius: .4rem;
    height: $input-height-44;
}


// EXTENDS CLASSES USES THIS TEMPLATE
// LABEL
.label {
    @extend .template-label; 
}
.label-geometry-150x44 {
    width: 15rem;
}
.label-geometry-320x44 {
    width: 32rem;
}

// INPUT
.input {
    @extend .template-input;
}
.input-geometry {
    @extend .template-geometry;
    margin-top: .544rem;
    width: 100%;
}
.input-geometry-150x44 {
    @extend .template-geometry;
    width: 15rem;
}
.input-geometry-dropdown-150x44 {
    @extend .input-geometry-150x44;
    @include arrowField(90% 50%, 15% 18%);
    cursor: pointer;
    margin-top: .5rem;
}
.input-geometry-320x44 {
    @extend .template-geometry;
    // width: 32rem;
}
.input-geometry-dropdown-320x44 {
    @extend .input-geometry-320x44;
    @include arrowField(100% 50%, 15% 18%);
    cursor: pointer;
    margin-top: .5rem;
}

.label-margin-20,
.input-margin-20 {
    margin-top: 2rem;
}
.input-margin-10 {
    margin-top: 1rem;
}

// EFFECT 
.input_hover {
    @extend .template-hover;
}
.label_opacity-0 {
    opacity: 0; 
    z-index: -5; 
    position: absolute;
}