.input {
    background-color: #fff;
    border: .1rem solid $dark-shade-25;
    border-radius: .4rem;
    height: 4.4rem;
    padding: 1.3rem 1.5rem;
    min-width: 10rem;
    width: 100%;
    &::placeholder { color: $dark-shade-25; }
    &:focus,
    &:hover {
        border-color: $dark-shade-50;
        outline: $dark-shade-50;
        &::placeholder { color: $dark-shade-75; }
    }
}
.input-select {
    @extend .input;
    background-position: right;
    background-size: 12% 17.5%;
    background-repeat: no-repeat;
    background-image: url('../images/select-arrow.svg');
    cursor: pointer;
    &::placeholder { color: $dark-shade-75; }
}
.input-filter-date {
    @extend .input-select;
    max-width: 26.6rem;
}
.input-calendar {
    @extend .input-select;
    @extend .text;
    background-size: 30% 17.5%;
    max-width: 15rem;
    margin-top: .5rem;
}
.input-subscription {
    @extend .input;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15% 42.5%;
    background-image: url('../images/arrow-forward.svg');
    max-width: 26.6rem;
    padding-right: 3.5rem;
}


/*
 * LABEL
 */
.label {
    @extend .title-h3;
    display: block;
    margin-bottom: .5rem;
    &__name {

    }
    &__state {
        color: $dark-shade-50;
    }
}
.label-calendar {
    @extend .title-h3;
    display: flex;
    flex-direction: column;
}
.label-opacity-0 {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*
 * UI-KIT CLASSES
 */
.input_hover-ui-kit {
    &::placeholder { color: $dark-shade-75; }
    border-color: $dark-shade-50;
}
.label-ui-kit {
    display: flex;
    justify-content: space-between;
}