.mrg-t-10 {
    margin-top: 1rem;
}
.mrg-t-16 {
    margin-top: 1.6rem;
}
.mrg-t-20 {
    margin-top: 2rem;
}
.mrg-t-30 {
    margin-top: 3rem;
}
.mrg-t-40 {
    margin-top: 4rem;
}
.mrg-t-50 {
    margin-top: 5rem;
}

.mrg-r-10 {
    margin-right: 1rem;
}
.mrg-r-20 {
    margin-right: 2rem;
}
.mrg-r-30 {
    margin-right: 3rem;
}
.mrg-r-40 {
    margin-right: 4rem;
}

.mrg-l-10 {
    margin-left: 1rem;
}
.mrg-l-20 {
    margin-left: 2rem;
}
.mrg-l-30 {
    margin-left: 3rem;
}
.mrg-l-40 {
    margin-left: 4rem;
}

.mrg-b-10 {
    margin-bottom: 1rem;
}
.mrg-b-20 {
    margin-bottom: 2rem;
}
.mrg-b-30 {
    margin-bottom: 3rem;
}
.mrg-b-40 {
    margin-bottom: 4rem;
}