.mrg-top-10 {
    margin-top: 1rem;
}
.mrg-right-10 {
    margin-right: 1rem;
}
.mrg-left-10 {
    margin-left: 1rem;
}

.mrg-top-20 {
    margin-top: 2rem;
}
.mrg-right-20 {
    margin-right: 2rem;
}

.mrg-top-30 {
    margin-top: 3rem;
}

.mrg-top-40 {
    margin-top: 4rem;
}