$montserrat-family: 'Montserrat', sans-serif;
$quicksand-family: 'Quicksand', sans-serif;

.title-h1 {
    font: bold 2.4rem / 1 $quicksand-family;
    line-height: 3rem;
    color: $dark-shade-100;
}
.title-h2 {
    font: bold 1.9rem / 1 $quicksand-family;
    line-height: 2.4rem;
    color: $dark-shade-100;
}
.title-h3 {
    font: bold 1.2rem / 1 $montserrat-family;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $dark-shade-100;
}
.text {
    font: normal 1.4rem / 1 $montserrat-family;
    line-height: 2.4rem;
    color: $dark-shade-75;
}
.text_darkshade {
    font: bold 1.4rem / 1 $montserrat-family;
    line-height: 1.8rem;
    color: $dark-shade-75;
}
.text_small {
    font: normal 1.2rem / 1 $montserrat-family;
    line-height: 1.4rem;
    color: $dark-shade-50;
}