include ./mixin/button.pug

- var linkActive = "nav__link_active"
- var buttonArrow = "icon-arrow"

div(class="block-nav")
    nav(class="nav")
        ul(class="nav__list")
            li(class="nav__item header__item")
                a(class=`nav__link ${linkActive}`, href="#") О нас
            li(class="nav__item header__item")
                +button(
                    'Услуги', 
                    ['Example', 'Example', 'Example']
                )
            li(class="nav__item header__item")
                a(class=`nav__link`, href="#") Вакансии
            li(class="nav__item header__item")
                a(class=`nav__link`, href="#") Новости
            li(class="nav__item header__item")
                +button(
                    'Соглашение', 
                    ['Example', 'Example', 'Example']
                )