$bg-color-button: #fff;

.nav {
    max-width: 100%;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__item {

}
.header__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 2rem 0 0;
}
.nav__link {
    @extend .text;
}
.nav__link_active {
    @extend .text-active;
}
.nav__button-drop {
    @extend .text;
    outline: none;
    border: none;
    background-color: $bg-color-button;
}

// DROPDOWN EFFECT 
.dropdown_hide {
    display: none;
}

// NESTED LIST
.nested {
    position: absolute;
    align-self: center;
    top: 2.5rem;
    left: 0.5rem;
}
.nested__item {
    line-height: 4rem;
}
.nested__link {
    @extend .text;
}

// ICON ARROW
.icon-arrow {
    cursor: pointer;
    &::after {
        content: '';
        display: inline-block;
        margin: 0 0 0 1rem;
        height: 1.25rem;
        width: 1.15rem;
        background: 85% 85% / contain no-repeat url('../../assets/images/select-arrow.svg');
    }
}