.range-lable {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}
.range-text,
.range-lable__cost {
    @extend .text_small;
}
.range {
    background-color: #fff;
    border: .1rem solid $dark-shade-25;
    border-radius: .3rem;
    position: relative;
    max-width: 26.6rem;
    height: .6rem;
}
.range__right-point,
.range__left-point {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: .2rem solid #FFFFFF;
    border-radius: 1rem;
    cursor: move;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: -0.45rem;
    z-index: 1;
}
.range__left-point {
    left: 2rem;
}
.range__right-point {
    right: 2rem;
}
.range__between {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    max-width: 200%;
    width: auto;
    height: .6rem;
}