mixin range()
    div(class="range-lable label mrg-top-30") 
        p(class="range-lable__name") диапазон цены
        p
            span(class="range-lable__cost min", data-cost="min", id="min1") 5 000₽ 
            span(class="range-lable__cost") -
            span(class="range-lable__cost max", data-cost="max", id="min2") 10 000₽
    div(class="range mrg-top-20", id=`${id}`)
        div(class="range__left-point", data-btn="button1", id="button1")
        div(class="range__between")
        div(class="range__right-point", data-btn="button2", id="button2")
    p(class="range-text mrg-top-20") 
        | Стоимость за сутки пребывания в номере