.range-lable {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
}
.range-text,
.range-lable__cost {
    @extend .text_small;    
}


.range {
    position: relative;
    max-width: 26.6rem;
    height: .6rem;
    background: #fff;
    
    border: .1rem solid $dark-shade-25;
    border-radius: .3rem;
}
.boundary-point-right,
.boundary-point-left {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: .2rem solid #FFFFFF;
    border-radius: 1rem;
    cursor: pointer;
    display: block;

    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: -0.45rem;

    z-index: 5;
}
.boundary-point-right {
    left: 2rem;
}
.boundary-point-center {
    position: absolute;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width: 80%;
    left: 10%;
    height: .6rem;
}
.boundary-point-left {
    right: 2rem;
}