mixin paginationItem(content, active = '')
    li(class="pagination__item")
        a(class=`pagination__link ${active}`, href="#")
            | #{content}

mixin pagination(mrg)
    div(class=`pagination ${mrg}`)
        ul(class="pagination__list")
            +paginationItem('1', 'pagination__link_active')
            +paginationItem('2')
            +paginationItem('3')
            +paginationItem('...')
            +paginationItem('15')
            li(class="pagination__item")
                a(class="pagination__link pagination__link_green") 
        p(class="pagination__text")
            | 1 – 12 из 100+ вариантов аренды