.counter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 9.2rem;
}
.counter__minus,
.counter__plus {
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    min-height: 3rem;
    line-height: 2.2rem;
    font: normal 1.8rem / 1 'Montserrat', sans-serif;

}
.counter__minus {
    border: .1rem solid $dark-shade-50;
    color: $dark-shade-25;
}
.counter__value {
    @extend .title-h3;
}
.counter__plus {
    border: .1rem solid $dark-shade-50;
    color: $dark-shade-50;
}
.minus,
.plus {
    
}
.control_view_grey {
    border: .1rem solid $dark-shade-25 !important;
}
