ul(class="counter", data-integer="0")
    li(class="counter__minus control_view_grey", data-count="minus") 
        <span class="minus", data-count="minus">
            | -
        </span>
    li(class="counter__value") 
        | 0
    li(class="counter__plus", data-count="plus") 
        <span class="plus", data-count="plus">
            | +
        </span>