// ROW_MIDDLE
// COMMENT_BLOCK
.commentarys__header {
    display: flex;
    justify-content: space-between;
}
.comment {
    display: flex;
}
.user__details {
    display: flex;
    flex-direction: column;
}
.callback__text {
    line-height: 2.6rem;
}