.text-number-sign {
    font: bold 1.4rem / 1 $quicksand-family;
}

// FORM_BLOCK
.card__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.number {
    color: $dark-shade-100;
}
.number__sign {
    @extend .text-number-sign;
}
.number__int {
    margin: 0 .25rem;
}
.cost__text {
    font-size: 1.2rem;
}

.options__item {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}
.options__service {
    max-width: 21.4rem;
    width: auto;
}
.options__details {
    position: relative;
    @include circleInfo(.05rem, -2.7rem);
}

.final-price {
    display: flex;
    justify-content: space-between;
}
.final-price__text {
    min-width: 5.9rem;
}
.final-price__underscore {
    border-bottom: .1rem dotted $dark-shade-25;
    width: 55%;
    max-width: 18.2rem;
    margin-top: 1.75rem;
    height: .1rem;
}