// IMPRESSION_BLOCK
.impression {
    max-width: 31.1rem;
}
.impression-margin {
    margin-left: 10rem;
}
.impression__content {
    display: flex;
    align-items: flex-end;
}
.diagram {
    background: center / contain no-repeat url('../../assets/images/details-circle-diagram.svg');
    max-width: 12rem;
    padding: 3.5rem 2.8rem 4rem 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diagram__voices,
.diagram__text {
    color: $purple;
    text-transform: uppercase;
    word-wrap: break-word;
}
.diagram__voices {
    @extend .title-h1;
}
.diagram__text {
    @extend .title-h3;
}

.impression__list {
    
}
.impression__item {
    color: $dark-shade-75;
    display: flex;
    align-items: center;
    @each $num, $color in (
        1 : linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%), 
        2 : linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%), 
        3 : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%), 
        4 : linear-gradient(180deg, #919191 0%, #3D4975 100%)) 
    {

        &:nth-of-type(#{$num}) {
            @include listStyle($color);
        }
    }
}
