section(class="impression impression-margin")
    h2(class="impression__title title-h2") Впечатления от номера
    div(class="impression__content mrg-top-20")
        div(class="diagram mrg-right-20")
            span(class="diagram__voices")
                | 260 
            span(class="diagram__text")
                | голосов 
        ul(class="impression__list")
            li(class="impression__item text")
                | Великолепно
            li(class="impression__item text")
                | Хорошо
            li(class="impression__item text")
                | Удовлетворительно
            li(class="impression__item text")
                | Разочарован