mixin detailsItem(text, exposition, icon)
    li(class="item-info")
        div(class=`item-info__icon ${icon} mrg-right-10`)
        p(class="item-info__text text")
            span(class="text_active") #{text} 
            span(class="item-info__exposition") #{exposition}

section(class="information")
    h2(class="information__title title-h2") Сведения о номере
    ul(class="information__list mrg-top-20")
        +detailsItem('Комфорт', 'Шумопоглощающие стены', 'smile')
        +detailsItem('Удобство', 'Окно в каждой из спален', 'home')
        +detailsItem('Уют', 'Номер оснащён камином', 'fire')