// DETAILS_BLOCK
.item-info {
    align-items: center;
    display: flex;
    padding: 2.3rem 1.7rem 1.7rem .5rem;
    max-width: 28rem;
    &:nth-of-type(1n+2) {
        border-top: .1rem solid rgba(31, 32, 65, 0.1);
    }
    &:nth-of-type(1) {
        padding: 0rem 1.7rem 1.7rem .5rem;
    }
    &:last-of-type {
        padding: 2.3rem 1.7rem .3rem .5rem;
    }
}
.item-info__icon {
    min-width: 4.3rem;
    height: 4.3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.smile {
    background-image: url('../../assets/images/details-smile-face-icon.svg');
}
.home {
    background-image: url('../../assets/images/details-factory-icon.svg');
}
.fire {
    background-image: url('../../assets/images/details-fire-icon.svg');
}
.item-info__text {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}