.comment {
    display: flex;
    &__user {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__avatar {
        cursor: pointer;
        filter: drop-shadow(0 1rem 2rem rgba(31, 32, 65, 0.1));
        max-width: 4.8rem;
        max-height: 4.8rem;
    }
    &__like {
        margin-top: 1.2rem;
    }
    &__content {
        margin-left: 1rem;
    }
    &__info {

    }
    &__name {
        @extend .text_darkshade;
        line-height: 1.7;
    }
    &__action {
        
    }
    &__text {
        margin-top: 1rem;
        max-width: 65.3rem;
    }
}