.room-callbacks__list {
    padding-top: 2rem;
}
.room-callbacks__title {
    @extend .title-h2;
}
.comment {
    display: flex;
    &:nth-of-type(1n+2) {
        margin-top: 2.3rem;
    }
}
.comment__person-info {
    margin-left: 1.2rem;
}
.comment__avatar {
    margin-right: 1.4rem;
    .comment__avatar-img {
        width: 4.8rem;
        height: 4.8rem;
    }   
}
.comment__like_on {
    @extend .slide;
    @extend .slide_on;
    background: 10% 50% / 50% 50% no-repeat url('../images/like-active-icon.svg');
}
.comment__like_off {
    @extend .slide;
    @extend .slide_off;
    background: 10% 50% / 50% 50% no-repeat url('../images/like-default-icon.svg');
}
.comment__like {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    .comment__like-number {
        font: normal 1rem / 1 $montserrat-family;
        display: flex;
        margin-left: 55%;
        margin-top: 5%;
        color: $purple;
    }
}
.comment__block {

}
.comment__name {
    @extend .text-active;
    margin-block-start: 0;
    margin-block-end: 0;
}
.comment__date {
    @extend .text;
    margin-block-start: .75rem;
}
.comment__text {
    @extend .text;
    line-height: 2.4rem;
    margin-top: 1.95rem;
    margin-block-end: 0;
    word-wrap: break-word;
}