include ../../button/button.pug

mixin calendar(mrg = '', idCalendar)
    div(class=`calendar-wrapper ${mrg}`, id=`${idCalendar}`)
        div(class="calendar-inputs", data-main="calendar-inputs")
        div(class="calendar calendar_hide", data-main="calendar-main")