.chamber {
    position: relative;
    box-shadow: 0rem 1rem 2rem rgba(31, 32, 65, 0.05);
    border-radius: .4rem;
    max-width: 27rem;
    
    &:hover {
        &::after,
        &::before {
            transition: .5s;
            opacity: 1;
       }
    }
}
.chamber-arrows {
    &::after,
    &::before {
        content: '';
        cursor: pointer;
        opacity: 0;
        display: block;
        height: 1.4rem;
        position: absolute;
        top: 27%;
        width: 1.4rem;
    }
    &::before {
        left: 1.4rem;
        background: center / contain no-repeat url('../images/chamber-arrow-left.svg');
    }
    &::after {
        right: 1.4rem;
        background: center / contain no-repeat url('../images/chamber-arrow-right.svg');
    }
}
.chamber__image {
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}
.chamber__info {
    padding: 2rem 1.7rem 2rem 1.9rem;
}

// BLOCK_DESCRIPTION
.chamber__description {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: .1rem solid rgba(31, 32, 65, 0.1);;
}
.chamber__int {
    @extend .text-number-sign;
}

// BLOCK_CALLBACKS
.chamber__callback {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: .8rem;
}
.stars-list {
    display: flex;
    align-items: center;
}
.star {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 0 .1rem;
}
.star-painted {
    @extend .star;
    background: center / contain no-repeat url('../images/star-painted.svg');
}
.star-empty {
    @extend .star;
    background: center / contain no-repeat url('../images/star-empty.svg');
}
.callbacks__num {
    margin-right: .5rem;
}

// DOTS
.dots {
    display: flex;
    position: absolute;
    top: 12.84rem;
    right: 1.511rem;
}
.dot {
    border: .2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 1rem;
    height: 1rem;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
    &:nth-of-type(1n+2) {
        margin-left: .375rem;
    }
}
.dot_active {
    background-color: #fff;
}