div(class="pagination__controlls mrg-top-40")
    ul(class="pagination__list")
        li(class="pagination__item")
            a(class="pagination__link button-circle_pirple", href="#") 1
        li(class="pagination__item")
            a(class="pagination__link", href="#") 2
        li(class="pagination__item")
            a(class="pagination__link", href="#") 3
        li(class="pagination__item")
            a(class="pagination__link", href="#") ...
        li(class="pagination__item") 
            a(class="pagination__link", href="#") 15
        li(class="pagination__item")
            a(class="pagination__next-button", href="#")
    
    p(class="pagination__text text mrg-top-10")
        | 1 – 12 из 100+ вариантов аренды