// PAGINATION
.pagination__controlls {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pagination__list {
    display: flex;
}
.pagination__link,
.pagination__next-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}
.pagination__link {
    font: 400 1.4rem / 1 'Montserrat', sans-serif;
    color: $dark-shade-50;
}
.pagination__next-button {
    @extend .button-circle_green;
    position: relative;
    &::before {
        content: '';
        background-image: url('../images/arrow-right-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 2rem;
        height: 2rem;
    }
}