mixin toggle(classToggle, classElement, mrg)
    div(class=`toggle-wrapper ${mrg}`)
        div(class=`toggle ${classToggle}`)
            div(class=`toggle__element ${classElement}`)
        p(class="toggle-text")
            | Получать спецпредложения