@import '../components/details-rooms-info/details-rooms-info.scss';
@import '../components/details-rooms-impression/details-rooms-impression.scss';

.col-images {
    display: flex;
    .main-image {
        
    }
    .stack-image {
        display: flex;
        flex-direction: column;
    }
    .room-photo {
        max-width: 100%;
    }
}