@import "../includes/chamber/chamber.scss";

.filters-wrapper {
    padding: 3rem 0 7rem 0;
    display: grid;
    grid-template-columns: 26.6rem 1fr;
}
.rooms {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.rooms__title {
    margin-left: 6rem;
}
.chambers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 27rem));;
    grid-row-gap: 1.8rem;
    grid-column-gap: 1.2rem;
    justify-content: end;
}


// PAGINATION
.pagination {
    display: flex;
    justify-content: center;
}
.pagination__inner {

}
.pagination__controlls,
.pagination__list {
    display: flex;
}
.pagination__link,
.pagination__next-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}
.pagination__link {
    font: 400 1.4rem / 1 'Montserrat', sans-serif;
    color: $dark-shade-50;
}
.pagination__next-button {
    @extend .button-circle_green;
    position: relative;
    &::before {
        content: '';
        background-image: url('../images/arrow-right-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 2rem;
        height: 2rem;
    }
}