.search {
    display: grid;
    grid-template-columns: 26.6rem 1fr;
    grid-column-gap: 6rem;
    padding: 3rem 0 7rem 0;

    &__filters {

    }
    &__result {
        
    }
}

.filters {
    &__guests {
        margin-top: 2.44rem;
    }
    &__range {
        margin-top: 3rem;
    }
    &__rules {
        margin-top: 3rem;
    }
    &__accessebiliity {
        margin-top: 3.88rem;
    }
    &__beds {
        margin-top: 2.5rem;
    }
    &__services {
        margin-top: 3rem;
    }
}

.result {
    &__title {
        @extend .title-h1;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2.6rem;
        grid-column-gap: .8rem;
        padding-top: 2rem;
    }
    &__pagination {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5.1rem;
        margin-right: 1.7rem;
    }
}

.range-text {
    @extend .text_small;
    margin-top: 1.5rem;
}