@import "../includes/chamber/chamber.scss";

.filters-wrapper {
    padding: 3rem 0 7rem 0;
    display: grid;
    grid-template-columns: 26.6rem 1fr;
}
.rooms {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.rooms__title {
    margin-left: 6rem;
}

// CHECKBOXES
.checkbox-select {
    cursor: pointer;
    position: relative;
}
.checkbox-select__arrow {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: .6rem;
    top: -.5rem;
    transition: .2s;
    @include arrowField(center center, 60% 60%);
}
.checkbox-select__arrow_rotate {
    transform: rotate(180deg);
}
.checkboxes__list {
    margin-top: 1.656rem;
}
.checkboxes__item {
    display: flex;
}
.checkboxes__content {
    display: flex;
    flex-direction: column;
}
.checkboxes__text {
    text-transform: initial;
    line-height: 1.8rem;
}

// CHAMBERS
.chambers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 27rem));;
    grid-row-gap: 1.8rem;
    grid-column-gap: 1.2rem;
    justify-content: end;
}