extends ../layout/layout.pug

block content
    main(class="main homescreen")
        div(class="main__inner container")
            //- сверстать карточку по поиску номеров в includes, затем подключить в index file