extends ../layout/layout.pug

block content
    main(class="main homescreen")
        div(class="main__inner container")
            //- include ../includes/date-picker/date-picker.pug
            div(class="rooms-card")
                div(class="rooms-card__inner")
                    div(class="block-title")
                        h1
                            | Найдём номера под ваши пожелания
                    div(class="block-form")
            div(class="rooms-description")
                p(class="rooms-description__text")
                    | Лучшие номера для вашей работы, отдыха и просто вдохновения