extends ../layout/layout.pug
include ../includes/calendar/calendar.pug
include ../includes/select/select.pug

block head
    head
        meta(charset="UTF-8")
        title Поиск номеров
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="Поиск номеров, подобрать номера")
        meta(name="description", content="Здесь Вы сможете подобрать номер на любой вкус")

block content
    main(class="main index-page")
        div(class="main__inner container")
            section(class="card")
                h1(class="title-h1")
                    | Найдём номера под<br> ваши пожелания
                form(class="form", method="GET", name="selection", id="selection")
                    +calendar()
                    +select()
                    a(class="button-form-large mrg-top-30", href="filters.html")
                        | подобрать номер
            p(class="main__text text")
                | Лучшие номера для вашей работы, отдыха и просто вдохновения