@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

.homescreen {
    background: center / cover no-repeat url('../images/index-bg/index-bg.jpg');
}
.main {
    padding: 7rem 0 1.8rem 0;
}
.main__inner {

}
.card {
    background: #FFFFFF;
    border: 1px solid $dark-shade-12;
    border-radius: .4rem;
    padding: 4rem 3rem 3rem 3rem;
    max-width: 38rem;
}
.rooms-card {
    box-shadow: 0px 0px 2.5rem $dark-shade-25;
}
// переделать
.rooms-card__inner {
    display: flex;
    flex-direction: column;
}
.rooms-card__form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.rooms-card-label {
    margin-top: 2.056rem;
}

.form__button {
    @extend .account-registration;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 3.1rem;
    padding: 1.4rem 2.2rem 1.5rem 1.8rem;
    text-transform: uppercase;
    &::after {
        content: '';
        position: absolute;
        display: block;
        background: center / contain no-repeat url('../images/form-button/arrow-right-button.svg');
        width: 1.8rem;
        height: 1.8rem;
        top: 30%;
        right: 4.95%;
    }
}

.rooms-description {
    width: 29.7rem;
    margin-top: 32rem;
    margin-left: auto;
    text-align: right;
    .rooms-description__text {
        color: $dark-shade-75;
        line-height: 2.4rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}