extends ../layout/layout.pug

block head
    head
        meta(charset="UTF-8")
        title Landing page
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="numbers, search")
        meta(name="description", content="search a number for a good rest")
        link(rel="shortcut icon", href="../images/favicon.ico", type="image/x-icon")

block content
    main(class="selection")
        div(class="selection__inner container")
            include ../includes/card-room-search/card-room-search.pug
            p(class="selection__description")
                | Лучшие номера для вашей работы, отдыха и просто вдохновения