extends ../layout/layout.pug

block content
    main(class="main homescreen")
        div(class="main__inner container")
            section(class="rooms-card card")
                div(class="rooms-card__inner")
                    div(class="rooms-card__title")
                        h1(class="title-h1")
                            | Найдём номера под<br> ваши пожелания
                    form(class="rooms-card__form", method="POST")
                        include ../includes/calendar/calendar.pug
                        include ../includes/select/select.pug
                        button(class="form__button", type="submit") 
                            | Подобрать номер
            div(class="rooms-description")
                p(class="rooms-description__text text")
                    | Лучшие номера для вашей работы,
                    | отдыха и просто вдохновения