extends ../layout/layout.pug
include ../includes/card-account-log/card-account-log.pug

block head
    head
        meta(charset="UTF-8")
        title Login page
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="registration, Toxin, login")
        meta(name="description", content="to login in the account")

block content
    main(class="login")
        div(class="login__inner")
            +accountLogin('login__card')