.login-page {
    padding: 17.2rem 0;
    background: center / cover no-repeat url("../../assets/images/registration-bg.jpg");
}
.card-login {
    margin: 0 auto;
}
.block-login {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}