extends ../layout/layout.pug
include ../includes/card-account-reg/card-account-reg.pug

block head
    head
        meta(charset="UTF-8")
        title Registration page
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="numbers, registration, Toxin")
        meta(name="description", content="registration account on the Toxin")
        link(rel="shortcut icon", href="../images/favicon.ico", type="image/x-icon")

block content
    main(class="registration")
        div(class="registration__inner")
            +accountRegistration('registration__card')