.registration {
    padding: 1.9rem 0;
}
.registration-page {
    background: center / cover no-repeat url('../../assets/images/registration-bg.jpg');
}
.card-registration {
    margin: 0 auto;
}
.special-offer {
    display: flex;
    align-items: center;
}