extends ../layout/layout-ui-kit.pug

block variables
    -var pageTitle = 'ui-forms'

include ../components/checkboxes/checkbox-list/checkbox-list.pug
include ../components/radio/radio.pug
include ../components/toggle/toggle.pug
include ../components/likebutton/like-button.pug
include ../components/stars/stars.pug
include ../components/range/range.pug
include ../components/button/button.pug
include ../components/pagination/pagination.pug
include ../components/inputs/dropdown/dropdown.pug 
include ../components/inputs/calendar/calendar.pug 
include ../components/checkboxes/rich-checkbox-list/rich-checkbox-list.pug
include ../includes/intelligence/intelligence.pug
include ../includes/comment/comment.pug
include ../includes/bullet-list/bullet-list.pug

block content
    main(class="ui-kit container")
        include ../components/ui-nav/ui-nav.pug
        div(class="ui-kit__row ui-kit__row_1")
            div(class="ui-kit__col ui-kit__col_1")
                //- COL1 -----------------------------
                label(class="label label-ui-kit", for="email")
                    span(class="label__name") Text Field
                    span(class="label__state") Default
                input(class="input", type="email", id="email", placeholder="Email")
                
                label(class="label label-ui-kit mrg-t-20", for="text")
                    span(class="label__name") Text Field
                    span(class="label__state") Hover / Focus
                input(class="input input_hover-ui-kit", type="text", id="text", placeholder="This is pretty awesome")
                
                +dropdown("mrg-t-20", "ui-peoples1", "ui-peoples-input1") 
                
                label(class="label mrg-t-30", for="date")
                    | masked text field
                input(class="input", type="text", id="date", placeholder="ДД.ММ.ГГГГ")
                
                //- CALENDAR
                +calendar('mrg-t-40', 'ui-calendar-wrapper')
                
                FILTER-DATES
                label(class="label mrg-t-40", for="filter")
                    | filter date dropdown
                input(class="input-filter-date", type="text", id="filter", placeholder="19 авг - 23 авг", readonly)


                //- SUBSCRIBE
                label(class="label label-ui-kit mrg-t-40", for="subscrire")
                    | subscription text field
                input(class="input-subscription", type="text", id="subscrire", placeholder="Email")

            div(class="ui-kit__col ui-kit__col_2")
                //- COL2 -----------------------------
                //- CHECKBOX-LIST
                +checkboxes('')
                
                //- RADIO
                p(class="label mrg-t-50") Radio Buttons
                +radioButtons('mrg-t-16')
                
                //- TOGGLE
                //- classButton, classElement, nrg
                p(class="label mrg-t-40") Toggle
                +toggle('toggle_active', 'toggle__element_active', 'mrg-t-10')
                +toggle('toggle_noactive', 'toggle__element_noactive', 'mrg-t-10')

                //- LIKE-BUTTON
                //- classLike, classElement, text
                p(class="label mrg-t-40") like button
                +like('like_noactive mrg-t-16', 'like__count_noactive', '2')
                +like('like_active mrg-t-16 mrg-l-10', 'like__count_active', '12')

                //- STARS
                //- arr, mrg
                P(class="label mrg-t-40") rate button
                +stars(['on', 'on', 'on', 'on', 'on'], 'mrg-t-16 mrg-r-20')
                +stars(['on', 'on', 'on', 'on', 'off'])
            div(class="ui-kit__col ui-kit__col_3")
                //- COL3 -----------------------------
                //- RANGE
                //- mrg
                +range('', 'Range Slider')
                
                //- BUTTONS
                p(class="label label-uikit-buttons") buttons
                div(class="button-uikit_purple")
                    +buttonRegistration('mrg-r-20', 'click me')
                    +buttonRegistration('button_hover_opacity', 'click me')
                div(class="button-uikit_white")
                    +buttonLogin('mrg-r-20', 'click me')
                    +buttonLogin('button_hover_opacity', 'click me')
                div(class="button-uikit-select")
                    +buttonSelect('mrg-r-20', 'click me')
                    +buttonSelect('button_hover_color mrg-r-20', 'click me')
                div(class="button-uikit-widget")
                    +buttonWidget('', 'перейти к оплате')

                //- PAGINATION
                p(class="label mrg-t-40") pagination
                +pagination('mrg-t-16')
        div(class="ui-kit__row ui-kit__row_2")
            div(class="ui-kit__col ui-kit__col_4")
                //- COL4 -----------------------------
                //- DROPDOWN
                +dropdown("dropdown-width-266", "ui-options1", "ui-peoples-input1") 
                +dropdown("dropdown-width-266 mrg-t-20", "ui-options2", "ui-peoples-input2")

                //- CHECKBOXES-DROPDOWN
                P(class="label ui-kit__label-checkbox checkbox-arrow_close") expandable checkbox list
                //- -------------------------------------------------------------
                +checkboxesDropdown('checkbox-buttons mrg-t-50', 'ui-checkbox-dropdown')
               
                    
            div(class="ui-kit__col ui-kit__col_5")
                //- COL5 -----------------------------

                +dropdown("dropdown-width-32", "ui-peoples2", "ui-peoples-input2")
                +richCheckboxes('ui-kit__label-dropdown', 'rich Checkbox Buttons')

            div(class="ui-kit__col ui-kit__col_6")
                //- COL6 -----------------------------
                +dropdown("dropdown-width-32", "ui-peoples3", "ui-peoples-input3")

                //- BULLET-LIST
                p(class="label ui-kit__label-bullet") bullet list
                +bulletList('mrg-t-16')
        div(class="ui-kit__row ui-kit__row_3")
            div(class="ui-kit__col ui-kit__col_7")
                //- COL7 -----------------------------
                +intelligenceBlock('ui-kit__feature')
            div(class="ui-kit__col ui-kit__col_8")
                //- COMMENT
                +commentMale()