.room-impression {
    max-width: 31rem;
}
.room-impression__content {

}
.diagram {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: center / contain no-repeat url('../images/details-circle-diagram.svg');
    .diagram__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .diagram__number {

    }
    .diagram__text {

    }
}
.room-impression__list {

    .room-impression__item {
        
    }
}