div(class="room-impression")
    h2(class="title-h2") 
        | Впечатления от номера
    div(class="room-impression__content")
        div(class="diagram")
            p(class="diagram__content")
                span(class="diagram__number") 260
                spna(class="diagram__text") Голосов
        ul(class="room-impression__list")
            li(class="room-impression__item") Великолепно
            li(class="room-impression__item") Хорошо
            li(class="room-impression__item") Удоалетворительно
            li(class="room-impression__item") Разочарован
