*, ::after, ::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 2.4rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 2.4rem;
}
fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 116.0rem;
    margin: 0 auto;
}