@mixin linkProps {
    &:link {

    }
    &:visited {

    }
    &:hover {

    }
    &:focus {

    }
    &:active {

    }
}
@mixin font($width, $size, $f-family) {
    font: $width $size $f-family;
}
@mixin arrowField(
    $position: center right, 
    $size: 15% 22.5%, 
    $repeat: no-repeat, 
    $path: '../images/select-arrow.svg'
    ) {
    background: $position / $size $repeat url($path);
    background-color: #fff;
}
@mixin listStyle($color) {
    &::before {
        content: '';
        position: absolute;
        display: block;
        margin-right: .5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: $color;
    }
}