$montserrat-family: 'Montserrat', sans-serif;
$quicksand-family: 'Quicksand', sans-serif;

$color-sizes-all: 1.9rem;
$color-horizontal-line: #E5E5E5;
$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-12: rgba(0, 0, 0, 0.12);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-1: rgba(31, 32, 65, 0.1);

$purple: #BC9CFF;
$green: #6FCF97;
$turquoise: #66D2EA;
$blue-light: #8BA4F9;
$green-light: #6FCF97;

$title-size-h1: 2.4em;
$title-color-h1: $dark-shade-100;

$title-size-h2: 1.9rem;
$title-color-h2: $dark-shade-100;

$title-size-h3: 1.2rem;
$title-color-h3: $dark-shade-100;

$text-body-size: 1.4rem;
$text-body-color: $dark-shade-75;