$montserrat-family: 'Montserrat', sans-serif;
$quicksand-family: 'Quicksand', sans-serif;

$color-sizes-all: 1.9rem;
$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

$title-size-h1: 2.4em;
$title-color-h1: $dark-shade-100;

$title-size-h2: 1.9rem;
$title-color-h2: $dark-shade-100;

$title-size-h3: 1.2rem;
$title-color-h3: $dark-shade-100;

$text-body-size: 1.4rem;
$text-body-color: $dark-shade-75;

// USE IN
// INPUT.PUG
// DROPDOWN.PUG
$input-width-32: 32rem;
$input-width-15: 15rem;
$input-height-44: 4.4rem;

