mixin navItem(title, array)
    li(class="nav__item")
        div(class="nav__nested-block nested-block")
            h2(class="nested-block__title") #{title}
            ul(class="nested-block__list")
                each item in array
                    li(class="nested-block__item")
                        a(class="nested-block__link" href="#") #{item}