// Templates
// .dropdown-list {
//     z-index: 10;
// }
.dropdown-list-geometry {
    border: .1rem solid $dark-shade-25;
}
.dropdown-item {
    font: bold $title-size-h3 / 1 $montserrat-family;
}
.dropdown-item-geometry {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $input-height-44;
}

// DROP FIELD
.dropdown {
    cursor: pointer;
    color: $dark-shade-75;
    @extend .template-input;
    @extend .dropdown_mark;
    @include arrowField();
}
.dropdown-geometry {
    @extend .template-geometry;
    @extend .template-small-width; 
}

// LIST
.dropdown-list {
    z-index: 10;
    border: .1rem solid $dark-shade-25;
    @extend .template-small-width;
}
.dropdown-item {
    @extend .dropdown-item-geometry;
    @extend .dropdown_mark;
}

// EFFECTS
.dropdown_mark {
    &:focus,
    &:hover {
        border: .1rem solid $dark-shade-50;
        color: $dark-shade-75;
    }
}
.dropdown_hide {
    display: none;
}