$bg-color-button: #fff;
$color-reg-button: #fff;
$gradient-reg-button: #8BA4F9;
// * * * * * * * * * * * * * *
// TEMPLATE FOR ACCOUNT BUTTON


.block-account {
    display: flex;
    align-items: center;
}
.account-in {
    @extend .button, .button-geometry;
    background-color: $bg-color-button;
    border: .2rem solid $purple;
    text-transform: uppercase;
    color: $purple;
}
.account-in-geometry {
    margin: 0 2rem 0 0;
}
.account-registration {
    @extend .button, .button-geometry;
    background: linear-gradient(180deg, $purple 0%, $gradient-reg-button 100%);
    border: .2rem solid $color-reg-button; 
    text-transform: uppercase;
    color: $color-reg-button;
}

.account-login-on {
    @extend .text;
    text-transform: capitalize;
}
.account-login-on-line {
    display: flex;
    align-items: center;
    border-left: .1rem solid $dark-shade-5;
    padding-left: 2rem;
    height: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
}