mixin loginOff()
    a(class="account-in", href="#", type="button") войти
    a(class="account-registration", href="#", type="button") зарегистрироваться

mixin loginOn()
    p(class="account-login-on") Юлий Цезарь

div(class="block-account")
    a(class="account-in", href="#", type="button") войти
    a(class="account-registration", href="#", type="button") зарегистрироваться