- var login = true

mixin loginOff()
    a(class="account-in", href="#", type="button") войти
    a(class="account-registration", href="#", type="button") зарегистрироваться

mixin loginOn()
    p(class="account-login-on account-login-on-line") Юлий Цезарь

div(class="block-account")
    if login == true
        +loginOn
    else
        +loginOff