- var login = false

mixin loginOff()
    a(class="account-in account-in-geometry", href="login.html", type="button") войти
    a(class="account-registration", href="registration.html", type="button") зарегистрироваться

mixin loginOn()
    p(class="account-login-on account-login-on-line") Юлий Цезарь

div(class="block-account")
    if login == true
        +loginOn
    else
        +loginOff