$bg-color-button: #fff;
$color-reg-button: #fff;
$gradient-reg-button: #8BA4F9;
// * * * * * * * * * * * * * *
// TEMPLATE FOR ACCOUNT BUTTON

.button-in {
    cursor: pointer;
    font: bold $title-size-h3 / 1 $montserrat-family;
}
.button-in-geometry {
    outline: none;
    border-radius: 2.2rem;
    padding: .9rem 2rem 1rem 2rem;
}

.block-account {
    display: flex;
    align-items: center;
}
.account-in {
    @extend .button-in, .button-in-geometry;
    background-color: $bg-color-button;
    border: .1rem solid $purple;
    margin: 0 2rem 0 0;
    color: $purple;
}
.account-registration {
    @extend .button-in, .button-in-geometry;
    background: linear-gradient(180deg, $purple 0%, $gradient-reg-button 100%);
    border: .1rem solid $color-reg-button;
    color: $color-reg-button;
}

.account-login-on {
    @extend .text;
    text-transform: capitalize;
}
.account-login-on-line {
    display: flex;
    align-items: center;
    border-left: .1rem solid $dark-shade-5;
    padding-left: 2rem;
    height: 3rem;
}