ul(class="ui-nav")
    li(class="ui-nav__item")
        a(class="ui-nav__link", href="ui-colors.html") Colors and Types
    li(class="ui-nav__item")
        a(class="ui-nav__link", href="ui-forms.html") Forms Elements
    li(class="ui-nav__item")
        a(class="ui-nav__link", href="ui-cards.html") Cards
    li(class="ui-nav__item")
        a(class="ui-nav__link", href="ui-page-parts.html") Header and Footers