%font-bold-cells {
    font: bold 1.2rem / 1 $montserrat-family;
}
%font-normal-cells {
    font: normal 1.2rem / 1 $montserrat-family;
}
.calendar-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.calendar {
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: .4rem;
    box-shadow: 0 .1rem .2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32rem;
    position: absolute;
    padding: 2rem;
    top: 107%;
    z-index: 11;
}
.calendar_off {
    display: none;
}
.calendar__header {

}
.calendar__month-title {
    @extend .title-h2;
    text-align: center;
}
.calendar__table {
    border-collapse: collapse;
    margin: 3rem 0 0 0;
    .calendar__body {}
}

// WEEK NAMES CELLS
.week-names {
    .week-names__item {
        @extend %font-bold-cells;
        text-transform: capitalize;
        color: $purple;
        width: 4rem;
        height: 4rem;
    }
}

// TABLE BODY CELLS
.main-cell-color,
.other-cell-color {
    @extend %font-normal-cells;
    cursor: pointer;
    text-align: center;
    max-width: 4rem;
    height: 4rem;
}
.main-cell-color {
    color: $dark-shade-50;
}
.other-cell-color {
    color: $dark-shade-25;
}

// ARROWS BUTTONS
.calendar__arrow {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 2rem;
    height: 2.4rem;
    width: 2.4rem;
} 
.arrow-left { 
    left: 2rem; 
    background-image: url('../images/arrow-left.svg');
}
.arrow-right { 
    right: 2rem; 
    background-image: url('../images/arrow-right.svg');
}

// BUTTONS
.calendar__buttons {
    margin-top: 2rem;
} 
.buttons {
    display: flex;
    justify-content: space-between;
}

// CLASSES ACTIVE
.calendar_active-cell {
    @extend .button-circle_pirple;
}
.calendar_curent-date {
    @extend .button-circle_green;
}
.data-picker_active-between {
    background: linear-gradient(
        180deg,
        rgba($color: #BC9CFF, $alpha: 0.25) 0%, 
        rgba($color: #8BA4F9, $alpha: 0.25) 100%
    );
}
.data-picker_active-entry {
    
}