// TEMPLATE
.footer__top {
    padding: 10rem 0;
    border-bottom: .1rem solid $color-horizontal-line;
}
.footer__bottom {
    padding: 2.3rem 0;
}

@import './top/top.scss';
@import './bottom/bottom.scss';