include ./mixins/mixins.pug

footer(class="footer")
    div(class="footer__top")
        div(class="footer__top-inner container")
            div(class="footer__logo-wrapper")
                a(class="logo", href="index.html")
                    img(src="./images/logo.svg", alt="Toxin", width="106", height="40", title="Toxin")
                p(class="logo-text text")
                    | Бронирование номеров в лучшем 
                    | отеле 2019 года по версии 
                    | ассоциации «Отельные взгляды»
            nav(class="footer__nav")
                ul(class="footer__nav-list")
                    +footerListItem('навигация', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'])
                    +footerListItem('о нас', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
                    +footerListItem('Служба поддержки', ['Соглашения', 'Сообщества', 'Связь с нами'])
                    li(class="footer__nav-item email")
                        h2(class="email__title title-h3")
                            | Подписка
                        ul(class="email__list")
                            li(class="email__item text")
                                | Получайте специальные предложения и новости сервиса
                            li(class="email__item subscribe")
                                label(class="label label-opacity-0", for="footer-email") 
                                    | Email
                                input(
                                    class="email__input input input_hover", 
                                    id="footer-email", 
                                    type="email", 
                                    placeholder="Email"
                                )
    div(class="footer__botom")
        div(class="footer__botom-inner container")
            small(class="copyright text") Copyright © 2018 Toxin отель. Все права зачищены.
            ul(class="socials")
                +footerSocialItem('twitter')
                +footerSocialItem('facebook')
                +footerSocialItem('instagram')