mixin socialIcon(path, alt, title)
    li
        a(class="social-icon" href="#")
            img(
                class="social-icon__image" 
                src=`${path}`, 
                alt=`${alt}`, 
                title=`${title}`
            )

div(class="footer__bottom-row container")
    p(class="copyright")
        | Copyright © 2018 Toxin отель. Все права зачищены.
    ul(class="footer__socials-block")
        +socialIcon(
            './images/twitter.svg', 
            'twitter', 
            'we are in twitter'
        )
        +socialIcon(
            './images/facebook.svg', 
            'facebook', 
            'we are in facebook'
        )
        +socialIcon(
            './images/instagram.svg', 
            'instagram', 
            'we are in instagram'
        )