.footer__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.copyright {
    @extend .text;
    color: $dark-shade-75;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.7rem;
}
.footer__socials-block {
    display: flex;
    align-items: center;
}
.social-icon {
    margin-left: 2rem;
    .social-icon__image {
        
    }
}
