.footer__bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer__copyright-block {

    .copyright {
        @extend .text;
        color: $dark-shade-75;
    }
}

.footer__socials-block {

}
.social-icon {
    margin-left: 2rem;
    .social-icon__image {
        
    }
}
