block variables
    - var labelClass = 'label label-geometry' 
    - var inputClass = 'input input-geometry input_hover'

    - var placeholder = 'Value'
    - var label = 'Label'

mixin input(labelClass, inputClass)
    label(class=`${labelClass}`) #{label}
    input(
        class=`${inputClass}`, 
        placeholder=`${placeholder}`,
    )

+input(
    labelClass,
    inputClass
)