section(class="room-rules")
    h2(class="room-rules__title")
        | Правила
    ul(class="room-rules__list")
        li(class="room-rules__item")
            | Нельзя с питомцами
        li(class="room-rules__item")
            | Без вечеринок и мероприятий
        li(class="room-rules__item")
            | Время прибытия — после 13:00,
            | а выезд до 12:00