div(class="radio-button mrg-top-10")
    input(class="input-radio", type="radio", id="male", name="sex", value="male", checked)
    label(class="text label-radio mrg-right-20", for="male") Мужчина
    input(class="input-radio", type="radio", id="female", name="sex", value="female")
    label(class="text label-radio", for="female") Женщина