.bullet-list {
    &__item {
        align-items: flex-start;
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
        width: 27.1rem;
        position: relative;
        &::before {
            background-color: $dark-shade-25;
            border-radius: 50%;
            content: '';
            display: block;
            max-height: 1rem;
            min-height: 1rem;
            max-width: 1rem;
            min-width: 1rem;
            position: absolute;
            left: -2rem;
            top: .5rem;
        }
    }
}
